table {

    border-collapse: collapse;

    text-align: center;
    
    box-shadow: 15px 15px 20px grey;

    margin-left: 150px;

    width: 70%;

    height: 70%;

}

table thead tr:nth-child(1) th, tfoot, tbody tr:nth-child(4) td:nth-child(3) {
    background-color: lightblue;
}

tbody tr:nth-child(4) td:nth-child(3) {
    color: whitesmoke;
}

table thead tr:nth-child(1) th {
    font-size: 1.5rem;
}

table thead tr:nth-child(2) th {
    color: whitesmoke;
    background-color: darkcyan;
}

th {
    border: 1px solid grey;
    padding: 10px;
}

td {
    border: 1.5px solid grey;
    padding: 2px;
    width: 55px;
}

tbody tr:nth-child(1), tbody tr:nth-child(3), tbody tr:nth-child(5) {
    background-color: whitesmoke;
}

tbody tr:nth-child(2), tbody tr:nth-child(4), tbody tr:nth-child(6) {
    background-color: lightcyan;
}

@media only screen and (min-width: 32.5em) {
    table {
        width: 350px;
        height: 360px;
        font-size: 1.5rem;
    }

    td {
        padding: 10px;
        width: 100px;
    }

    table thead tr:nth-child(1) th {
        font-size: 2rem;
    }
}