body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin: -0.5em;  
    padding: -1em;
    background-color: darkcyan;
    border-radius: 23px;
    color: white;
    align-items: center;
    justify-items: center;
}

main {
    margin: -0.5em;
    padding: -5em;
}

h1 {
    display: grid;
    position: relative;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

div {
    border: 1px solid darkcyan;
    border-radius: 20px;
    background-color: lightgray;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

h3 {
    font-family: 'Josefin Sans', Verdana, sans-serif;
    padding: 3em;
    background-color: black;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1.5px solid darkcyan;
}

img {
    padding:.5em;
    
}

p {
    padding: .5em;
}

footer {
    margin: -0.5em;
    padding: 1em;
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 230px;
    color: white;
}

#lastupdated {
    color: black;
    grid-column: 1/ 4;
    text-align: center;
}